:root {
  --color-black: #000000;
  --color-black-opacity-50: rgba(0, 0, 0, 0.5);
  --color-black-opacity-40: rgba(0, 0, 0, 0.4);
  --color-white: #ffffff;
  --color-green: #44EB56;
  --color-orange: #F58515;
  --color-blue: #158CF5;
  --color-light-blue: #00AEFF;
  --color-gray: #747474;
}